{% load bootstrap4 %}
<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
        shrink-to-fit=no">
    <title>Plan de Estudio</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">

        {% if user.is_authenticated %}
            <span class="navbar-brand">Hola, {{ user.username }}</span>
        {% else %}
            <a class="navbar-brand" href="{% url 'learning_logs:index' %}">
                Plan de Estudio
            </a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'learning_logs:my_topics'%}" class="nav-item nav-link">Mis temas</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'learning_logs:topics'%}" class="nav-item nav-link">Temas generales</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'learning_logs:topics'%}" class="nav-item nav-link">Temas generales</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:logout' %}">Cerrar sesión</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:register' %}">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">Iniciar sesión</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="pb-2 mb-2 border-bottom">
            {% block page_header %}
            {% endblock page_header%}
        </div>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </main>
</body>

</html>