{% extends "learning_logs/base.html" %}

{% block page_header %}
{% endblock page_header %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">¡Lleva una ruta de tu doctrina!</h1>

        <p class="lead">
            Crea tu propio plan de estudio, manten un registro de tus temas, crea entradas contextualizando lo aprendido, y logra tus metas mediante el estudio.
        </p>

        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Registrarse &raquo;</a>
    </div>
{% endblock content %}